
.commonContainer {
  display: flex;
  flex-direction: row;
  gap: 0;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(186, 184, 184, 0.11);
  position: relative;
  opacity: 0.7; 
}
.text-gray{
  color:#BFBFBF;
}
.text-green{
  color:#8FB299;
}
.main-text{
  color:#8FB299;
  text-align: center;
  font-weight: 800;
}
.bg-yellow-green{
  background-color: #EBF0EA;
}
.bg-green{
  background-color: #8FB299;
}
.bg-gray{
  background-color:#BFBFBF;
}
.bg-beige{
  background-color:#F4F1EC;
}
.no-underline-link {
  text-decoration: none; /* 밑줄 제거 */
  color: white; /* 링크 색상 설정, 원하는 색상으로 변경 가능 */
}
.custom-button {
  background-color: #8FB299;/* 기본 배경 색상 */
  border: none; /* 기본 테두리 제거 */
  color: white; /* 기본 텍스트 색상 */
}

.custom-button:hover {
  background-color: #6D8E6F; /* hover 시 배경 색상 */
  color: white; /* hover 시 텍스트 색상 */
}
.mt-4 {
  margin-top: 1.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
/* Placeholder 색상 변경 */
.form-control::placeholder {
  color: #B0B0B0; /* 연한 회색 색상 */
}
.choose-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.choose-button {
  background-color: #F4F1EC;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  font-weight: bold;
  flex: 1; /* Make each button take up an equal amount of space */
  max-width: 30%; /* Ensure the buttons do not exceed 30% of the container width */
  margin: 0 10px; /* Add some space between the buttons */
  padding: 40px 20px; /* 패딩을 조정하여 버튼 높이를 키움 */
  border-radius: 24px;
  border-color: #F4F1EC;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  text-align: center; /* 텍스트 가운데 정렬 */
  height: 500px; /* 버튼의 고정 높이를 300px로 설정 */
}

.choose-button:hover {
  background-color: #EBF0EA;
  color: #000000;
  border-color: #EBF0EA;
}

.choose-button svg {
  width: 150px; /* 아이콘의 고정 크기 설정 */
  height: 150px; /* 아이콘의 고정 크기 설정 */
  margin-bottom: 20px; /* 아이콘과 텍스트 사이의 간격 조정 */
}
/* 단어장 대쉬보드 */

.vocabulary-list {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #F7F9F8;
  margin-bottom: 20px;
}

.vocabulary-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table-container {
  max-height: 500px;
  overflow-y: auto; /* tbody 스크롤 가능 */
  position: relative;
}

.table-container table {
  width: 100%;
  border-collapse: separate; /* 셀 간격 유지 */
  border-spacing: 0 10px; /* 행 간 간격 설정 */
}

thead {
  position: sticky;
  background-color: #F7F9F8;
  top: 0;
  z-index: 1;
}

th, td {
  text-align: left;
  padding: 10px; /* 셀 내부 여백 추가 */
}

tbody td {
  background-color: white;
  word-break: break-word;
  text-align: left;
}

tbody tr {
  background-color: white;
  border-radius: 10px; /* 행 모서리 둥글게 */
}

/* DaySelector 스타일 */
.day-selector-container {
  position: sticky;
  overflow-x: auto; /* 가로 스크롤 가능 */
  white-space: nowrap; /* 버튼들이 가로로 정렬되도록 설정 */
  padding: 10px 10px 10px ; /* 상하 여백 */
  
}

.day-selector {
  display: inline-flex; /* 버튼들을 가로로 배치 */
  gap: 10px; /* 버튼 간격 */
}

.day-button {
  background-color: #BFBFBF; /* 기본 배경 색상 */
  color: white; /* 텍스트 색상 */
  border: none; /* 기본 테두리 제거 */
  border-radius: 20px; /* 버튼을 둥글게 만들기 */
  padding: 10px 20px; /* 버튼 안쪽 여백 */
  font-size: 16px; /* 텍스트 크기 */
  cursor: pointer; /* 클릭 커서 */
  transition: background-color 0.3s ease, transform 0.3s ease; /* 부드러운 색상 전환 및 클릭 효과 */
  outline: none; /* 포커스 시 기본 테두리 제거 */
  white-space: nowrap; /* 버튼 텍스트가 줄 바꿈되지 않도록 설정 */
}

.day-button:hover {
  background-color: #8FB299; /* 호버 시 배경 색상 변경 */
}

.day-button.selected {
  background-color: #8FB299; /* 선택된 버튼의 배경 색상 */
  font-weight: bold; /* 선택된 버튼의 글씨를 두껍게 */
  transform: scale(1.1); /* 버튼 클릭 시 크기 확대 효과 */
}

.day-button:active {
  transform: scale(0.95); /* 클릭 시 버튼을 약간 줄어들게 하여 클릭 효과 추가 */
}
/*아래 버튼(프로그래스,학습,퀴즈버튼)*/
.bottom-controls {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 20px; /* 프로그래스바와 버튼 컨테이너 사이의 간격 */
}
.progress-bar-container {
  width: 90%;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #F7F9F8;
  padding:30px;
  
}

.progress-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #E5E5E5;
  border-radius: 10px;
  height: 20px;
}

.progress {
  background-color: #B3C0B5;
  height: 100%;
  border-radius: 10px;
}
.quiz-button-container {
  display: flex;
  flex-direction: column; /* 버튼들을 수직으로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  gap: 10px; /* 버튼 사이의 간격 */
  margin-top:-10px;
}
.quiz-button {
  background-color: #8FB299;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.quiz-button:hover {
  background-color: #6D8E6F;
}
.quiz-button.learning {
  background-color: #F7F9F8; /* '학습하기' 버튼의 배경 색상 */
  color: #000; /* 텍스트 색상 설정, 원하는 색상으로 변경 가능 */
  border: 1px solid #ddd;
}

.quiz-button.learning:hover {
  background-color: #E5E5E5; /* 호버 시 색상 변경 */
}

.save-button {
  padding: 5px 10px;
  background-color: #8FB299;
  color: white;
  border-radius: 10px; /* 버튼을 둥글게 만들기 */
  cursor: pointer;
}

.save-button:hover {
  background-color: #6D8E6F;
}

/* CardLearn */
/* CardLearn */
.card-container-wrapper {
  overflow-x: auto; /* 가로 스크롤 활성화 */
  overflow-y: hidden; /* 세로 스크롤 숨기기 */
  white-space: nowrap; /* 카드들이 한 줄로 쌓이지 않도록 */
  padding: 10px 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px); /* 카드 너비 300px로 고정 */
  grid-template-rows: repeat(2, 200px); /* 2행 고정 */
  gap: 30px;
  grid-auto-flow: column; /* 열 기준으로 흐름 설정 */
  justify-content: start;
}

.card {
  width: 300px; /* 카드의 너비 */
  height: 180px; /* 카드의 높이 */
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-content {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 1; /* 추가된 z-index */
}

.card-back {
  background-color: #F4F1EC;
  color: #000000;
  transform: rotateY(180deg);
  z-index: 0; /* card-front 아래에 위치하도록 z-index 설정 */
}

.card-front {
  background-color: #EBF0EA;
  color: #000000;
  position: relative;
  z-index: 2; /* card-back 위에 표시되도록 z-index 설정 */
}


.card-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.mistakes {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

/* 스크롤바 스타일링 */
.card-container-wrapper::-webkit-scrollbar {
  height: 8px;
}

.card-container-wrapper::-webkit-scrollbar-thumb {
  background-color: #8FB299;
  border-radius: 10px;
}

.card-container-wrapper::-webkit-scrollbar-track {
  background-color: #F7F9F8;
}
