/* styles/CommonStyles.module.css */
.commonContainer {
  display: flex;
  flex-direction: row;
  gap: 0;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(186, 184, 184, 0.11);
  position: relative;
}